user:
  remote_username: bscXXXXXX
  remote_machine_url: glogin4.bsc.es
  machine_file: dnb-mn5-gpp.yaml

paths:
  local_build_dir: /home/LOCAL_USER/ifsnemo-build
  remote_project_dir: /gpfs/projects/bsc32/bscXXXXXX/ifsnc_remote_dir

overrides:
  DNB_SANDBOX_SUBDIR: "ifsFOOBAR.SP.CPU.GPP"
  DNB_IFSNEMO_URL: "https://git.ecmwf.int/scm/~ecmeXXXX"
  IFS_BUNDLE_IFS_SOURCE_GIT: "$DNB_IFSNEMO_URL/ifs-source-compare-example.git"
  IFS_BUNDLE_IFS_SOURCE_VERSION: "feature/ifsnemo-compare-test"

psubmit:
  queue_name: ""
  account: ehpc01
  node_type: gp_ehpc

ifsnemo_compare:
  gold_standard_tag: ifsMASTER.SP.CPU.GPP
  resolution: [tco79-eORCA1]
  steps:   [d1]
  threads: [4]
  ppn:     [28]
  nodes:   [1]

#  resolution: [tco79-eORCA1, tco399-eORCA025, tco1279-eORCA12, tco2559-eORCA12]
#  steps:   [d1,  d1,  d1,  d1 ]
#  threads: [4,   4,   8,   14 ]
#  ppn:     [28,  28,  14,  8  ]
#  nodes:   [1,   16,  125, 260]


references:
  url: https://github.com/kellekai/bsc-ndse.git
  branch: main
  path_in_repo: references
